---
import Layout from "@/layouts/Layout.astro";
import Error from "@/sections/Error.astro";
import Footer from "@/sections/Footer.astro";
---

<Layout
  description="Pagina dedicada a los cálculos y theorycraft del juego Genshin Impact"
  title="Excelverse - Página no encontrada"
>
  <main>
    <Error error="404" message="Página no encontrada" />
  </main>
  <Footer />
</Layout>
