---
import Layout from "@/layouts/Layout.astro";

import Countdown from "@/sections/Countdown.astro";
import Hero from "@/sections/Hero.astro";
import Info from "@/sections/Info.astro";
import PrincipalDate from "@/sections/PrincipalDate.astro";
import Collaborators from "@/sections/Collaborators.astro";
import SelectCharacters from "@/sections/SelectCharacters.astro";
---

<Layout
  description="Pagina dedicada a los cálculos y theorycraft del juego Genshin Impact"
  title="Excelverse"
>
  <Hero />
  <main>
    <PrincipalDate />
    <SelectCharacters />
    <Info />
    <Countdown />
    <Collaborators />
  </main>
</Layout>
