---
import HeroLogo from "@/components/HeroLogo.astro";
---

<section class="flex flex-col place-items-center gap-4 lg:gap-9">
  <h1 class="sr-only">Sepultadores de KQM</h1>
  <h2 class="font-atomic -rotate-3 text-3xl text-primary">Genshin Impact</h2>
  <!--
  <span
    class="animate-fade-in-up select-none bg-primary px-3 py-0.5 text-base font-medium uppercase text-secondary animate-duration-1000 motion-reduce:animate-duration-[0s] md:px-6 md:py-1 lg:text-xl"
    aria-hidden="true"
  >
    Developed by DarkJake
  </span>
 -->
  <div class="relative">
    <img
      class="absolute inset-0 -z-10 m-auto text-primary w-[620px]"
      src="img/drawn-x-logo.png"
      alt="Logo X"
    />
    <div
      class="absolute inset-0 -z-10 m-auto rounded-full size-[170px] bg-black opacity-70 blur-2xl"
    >
    </div>

    <HeroLogo class="h-auto w-[250px] overflow-visible md:w-[900px]" />    
  </div>
</section>
