---
import LiteYoutube from "@/components/LiteYouTube.astro";
---

<section class="my-40 px-2">
  <h3 class="font-atomic text-5xl text-primary text-center">Repeticion</h3>
  <p
    class="mx-auto mt-4 max-w-[250px] text-wrap text-center text-xl text-primary"
  >
    Vuelve a ver el torneo en el canal de Sanairobech
  </p>

  <div class="relative mt-8">
    <img
      aria-hidden="true"
      class="absolute inset-0 -z-10 m-auto"
      src="/excelmains-web/img/drawn-x-logo.png"
      alt="X de eXcelverse :v"
    />

    <LiteYoutube
      videoId="mtbIidGdpbY"
      backgroundImage="/excelmains-web/img/video-presentation-cover.webp"
    />
  </div>
</section>
