---
import MapMarkerIcon from "@/icons/map-marker.astro";
---

<section
  class="mx-auto mt-16 flex animate-fade-in flex-col place-items-center text-center text-primary animate-delay-[2s] md:mt-32"
>
  <div class="text-3xl font-semibold uppercase md:text-5xl">
    <time class="date"> 12 de Abril</time>
    <span aria-hidden="true" class="mx-1 hidden md:inline">·</span>
    <br aria-hidden="true" class="block md:hidden" />
    <time class="time"></time>
  </div>

  <h2
    class="mt-6 flex max-w-sm flex-col text-lg font-medium uppercase lg:text-2xl"
  >
    <span>Torneo de Casualines</span>
    <a
      href="https://discord.com/invite/YENa4TDxhu"
      class="inline-block align-middle transition hover:scale-110 hover:opacity-60"
      target="_blank"
      rel="noopener"
      style="display: -webkit-box;"
      aria-label="servidor de discord, se abrirá en una nueva pestaña"
    >
      <MapMarkerIcon class="mr-1 max-md:mt-1 md:mt-0.5 md:size-6" /> Servidor de
      Discord
    </a>
  </h2>

  <div
    class="scroll-horizontal mt-6 flex flex-col items-center gap-9 md:flex-row"
  >
    <a
      href="https://discord.com/channels/1104977284609343558/1182044234371571752"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="inscripciones cerradas, se abrirá en una nueva pestaña"
    >
      <span> Inscripciones Cerradas </span>
    </a>
  </div>
</section>

<style is:global>
  .scroll-horizontal > a {
    background: transparent;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    width: 20rem;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
  }

  .scroll-horizontal > a > span {
    display: inline-block;
    transform: skew(21deg);
  }

  .scroll-horizontal > a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: var(--color-primary);
    opacity: 0;
    z-index: -1;
  }

  .scroll-horizontal > a:hover {
    color: var(--color-secondary);
    scale: 1.1;
    transform: skew(-21deg);
  }

  .scroll-horizontal > a:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }

  @media (prefers-reduced-motion: no-preference) {
    .scroll-horizontal > a {
      transition: scale 150ms ease-in-out;
    }

    .scroll-horizontal > a::before {
      transition: all 0.5s;
    }
  }
</style>

<script is:inline>
  const END_DATE = 1711839600000;
  const d = new Date(END_DATE);
  const date = d.toLocaleTimeString("es", {
    hour: "2-digit",
    minute: "2-digit",
  });

  // obtener la zona horaria actual
  const tzOffset = d.getTimezoneOffset() / 60;
  const diff = tzOffset * -1;
  const gmt = diff > 0 ? `GMT+${diff}` : `GMT-${Math.abs(diff)}`;

  const TZ_DICTIONARY = {
    "GMT+1": "CET",
  };

  const tz = TZ_DICTIONARY[gmt] ?? gmt;

  const timeElement = document.querySelector(".time");
  if (timeElement) {
    timeElement.textContent = `${date}H ${tz}`;
  }
</script>
